/* .aboutMe {
  display: flex;
  flex-wrap: wrap;
} */

.biopic {
  background-image: url(../../components/photos/BioPic.jpg);
  width: 18%;
  height: 200px;
  /* display: flex;
  flex-wrap: wrap; */
}
