.container {
  background-color: #3f2a59;
  background-image: url(../../assets/image/port-header-01.jpg);
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .title {
  color: #ffe4a1;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quote {
  color: #fff8c9;
} */
